.project-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 16px;
    margin-bottom: 1em;
}

.project-card img {
    max-width: 75%;
    height: auto;
    border: 5px;
    margin: 0 auto;
}

.project-links a {
    margin: 0 5px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-in-out;
}

.project-links a:hover {
    transform: scale(1.2);
}