.container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 30em; 
}

.useful-info p {
    text-align: left;
    margin-right: 50%;
}

.container button[type="submit"] {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer; 
    margin-left: .3em;
}

.container button[type="submit"] svg {
    margin-left: 4px;
}

