.container-settings{
    display: flex;
    flex-direction: column; 
    gap: 20px;
  }
  
.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 10%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider:before {
    -webkit-transform: translate(26px);
    -ms-transform: translate(26px);
    transform: translateX(26px);
}

.delete-account-confirm {
    background-color: #fff; 
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .delete-account-confirm p {
    margin-bottom: 10px;
  }
  
  .delete-account-confirm button {
    background-color: #ff4d4f; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .delete-account-confirm button:last-child {
    background-color: #f0f0f0;
    color: #333; 
  }
  
  .delete-account-confirm button:hover {
    opacity: 0.8; 
  }
  
  .delete-account {
    background-color: #fff; 
    border: 1px solid #e0e0e0; 
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .delete-account p {
    margin-bottom: 10px;
  }
  
  .delete-account button {
    background-color: #ff4d4f; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }


  .delete-account button svg {
    align-items: center;
  }
  
  .delete-account button:hover {
    opacity: 0.8; 
  }
  
  