/* Footer.css */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#footer {
  background-color: #333;
  color: white;
  padding: 15px 0;
  flex-shrink: 0; /* Prevent footer from shrinking */
  margin-top: 29.2vh; /* Pushes the footer to the bottom */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  max-width: 100%;
}

.footer-container {
  flex: 1;
}

h3 {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.footerrc-social {
  display: flex;
  gap: 10px;
}

.social-icon {
  text-decoration: none;
  color: white;
  transition: opacity 0.3s;
}

.social-icon:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    max-width: 100%;
  }
  
}