.dark-mode {
  background-color: #181A1B;
  color: #E8E6E3;
}

.dark-mode .container {
  background-color: #1C1E1F;
  color: #D8D4CF;
}

.dark-mode .title {
  background-color: #1C1E1F;
  color: #D8D4CF;
}

.dark-mode .slider {
  background-color: #35393B;
  color: #D8D4CF;
}

.dark-mode .slider::before {
  background-color: #181A1B;
  color: #D8D4CF;
}

.dark-mode input {
  background-color: #35393B;
  color: #D8D4CF;
}

.dark-mode .delete-account-container .delete-account {
  background-color: #181A1B;
  color: #E8E6E3;
}

.dark-mode .delete-account-container .delete-account-confirm {
  background-color: #181A1B;
  color: #E8E6E3;
}

.dark-mode .delete-account-container .delete-account-confirm .btn-yes {
  background-color: #830507;
  color: #E8E6E3;
}

.dark-mode .delete-account-container .delete-account button  {
  background-color: #830507;
  color: #E8E6E3;
}

.dark-mode .contatc-container {
  background-color: #1C1E1F;
}

.dark-mode textarea {
  background-color: #3B3B3B;
  color: #E8E6E3;
}

.dark-mode .project-card {
  background-color: #181A1B;
}

.dark-mode svg {
  color: #E8E6E3;
}

.dark-mode a svg {
  color: #E8E6E3;
}

.dark-mode tr {
  background-color: #3B3B3B;
  color: #E8E6E3;
} 

.dark-mode a {
  color: #3391FF;
}

.dark-mode .newticket {
  background-color: #699902;
  color: #E8E6E3;
}


.dark-mode .btn-more {
  background-color: #699902;
  color: #E8E6E3;
}

.dark-mode button[type='submit'] {
  background-color: #0062CC;
  color: #E8E6E3;
}

.dark-mode .modal-custom {
  background-color: #3B3B3B;
  color: #E8E6E3;
}

.dark-mode.sidebar {
  background-color: #004871;
  color: #E8E6E3;  
}

.dark-mode.sidebar a:hover {
  background-color: #003b5e;
  color: #E8E6E3;
}

.dark-mode.sidebar a {
  color: #E8E6E3;
}

.dark-mode.nav{
  background-color: #004871;
  color: #E8E6E3;
}

.dark-mode .logout-btn {
  color: #E8E6E3;
  border: 1px solid #E8E6E3;
}

.dark-mode .user-menu li {
  background-color: #004871;
}

.dark-mode select {
  background-color: #6B6B6B;
  color: #E8E6E3;
}

.dark-mode body {
  background-color: #1C1E1F;
}
