.nav {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00618A;
    color: #fff;
    z-index: 1000;
}

.nav h2 {
    margin: 10px 10px;
    color: #fff;
}

.user-info {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.user-info img{
    width: 30px;
    height: 30px;
    display: block;
    margin: auto 10px;
    border-radius: 50%;
    align-items: center;
    flex-direction: row;
    filter: drop-shadow(2px 3px 6px #12121271);
    -webkit-filter: drop-shadow(2px 3px 6px #12121271);
}

.user-info svg {
    margin: 0 6px;
}